.article_push_time {
	font-size: 14px;
	/*padding-left: 5px;*/
}

.main_title {
	font-size: 14px;
	padding: 15px 20px;
	background-color: #EEEEEE;
	border-radius: 6px 6px 0 0;
	position: relative;
	margin-left: 20px;
	margin-right: 34px;
	margin-bottom: 20px;
}

.plan_item {
	font-size: 14px;
	padding: 15px 20px;
	background-color: gray;
	border-radius: 6px 6px 0 0;
	position: relative;
	width: 661px;
	float: left;
	border: 1px;
	margin-right: 34px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.sc_plan_title {
	font-size: 24px;
	color: #555;
	font-weight: 700;
	line-height: 76px;
	margin-top: 5px;
	padding: 5px 24px;
	background-color: #f5f4f3;
	margin-bottom: 32px;
}

.main_title_bread {
	margin: 0 10px;
	font-size: 18px;
}

.sc_stage_current_item {
	background: #e36b3a;
}

.border-radius-6 {
	border-radius: 6px;
}

.menu_wrap li {
	display: block;
	text-align: right;
	color: #555;
	padding: 12px 10px 12px 0;
}

.pro_day {
	display: block;
	font-size: 24px;
	font-weight: 700;
}

.pro_message {
	display: block;
	font-size: 14px;
}

.current_li {
	border: 2px solid #f8996d;
	border-radius: 6px;
	color: #f8996d;
}

.btn_wrap {
	margin-top: 20px;
	padding-bottom: 30px;
}

.content-main {
	margin-top: 20px;
	padding: 20px 20px;
}

.divmargin {
	margin: 20px 0px 10px 0px;
}